<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

         <!-- CDN for jQuery -->
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

        <!-- CDN for Bootstrap -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

        <title>UAC Nonprofit Overhead Analyzer</title>

        <!-- Pagination frontend logic -->
        <script>
            $(document).ready(function() {
                $(".pagination a").click(function(event){
                    event.preventDefault();
                    console.log($(this).html());
                    //$.get("https://projects.propublica.org/nonprofits/api/v1/organizations/'", function(data, status){
                    //    alert("Data: " + data + "\nStatus: " + status);
                    $.post('/',
                        {search: $('#search_value').html(), page:$(this).html()},
                        function(data, status) {
                            console.log(data);
                            $('body').html(data);
                        });
                });
            });
        </script>
    </head>

    <style type="text/css">
       /* body {
            padding-top:70px
        }*/
        
    </style>

    <body>

        <!-- We might not need a navbar? -->
        <!-- <!-- NAVBAR built by bootstrap -->
        <!-- <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">UAC</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#search">SEARCH</a></li>
                        <li ><a href="#results">RESULTS</a></li>
                        <li><a href="#contact">CONTACT</a></li>
                    </ul>
                </div>
            </div>
        </nav> -->



        <div class="container theme-showcase" role="main">
            <h1>UAC Nonprofit Overhead Analyzer</h1>

            {% block content %}{% endblock %}
        </div>

        

    </body>
</html>