<body id="home_p">

  <div class="row">
    <h1>UAC Expense Calculator</h1>
  </div>

  <div class="row">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit, est vel rhoncus eleifend, tortor lectus congue massa, sit amet efficitur est tellus ut nibh. Nulla blandit congue neque. Donec vitae euismod urna.</p>
  </div>

  <div class="row">
    <!-- search bar -->
    <form method="post">  <!-- action="reroute" -->
      Search: <input type="text" name="search"><br>
    <input type="submit" value="Submit">
    </form>
  </div>

</body>