{% extends "base.html" %}

{% block content %}
<div id="home_p">

  <div class="row">
    <div class="col-md-10">
    </div>
    
  </div>

  <div class="row">
    <div class="col-md-6">
      <!-- search bar -->
      <form method="post">  <!-- action="reroute" -->
        <!--<label for="">Search:</label>-->
        {% if results %}
            <input type="text" class="form-control" name="search" value="{{ search_value }}" id="search_value"><br>
        {% else %}
            <input type="text" class="form-control" name="search"><br>
        {% endif %}
            <input type="submit" class="btn btn-default" value="Find a nonprofit">
      </form>
      <br>
      <a href="{{ url_for('results') }}">Custom calculations</a>
    </div>
  </div>
  <div id="results">

  {% if results %}
      {{ pagination.info }}
      {{ pagination.links }}

    {% for result in results %}
    <!-- TODO make template for displaying each result -->
      <br>
      <a href={{ url_for('ein_results', ein=result['ein']) }}>{{ result['name'] }}</a>
      {{ result['city'] }}
      {{ result['state'] }}
      {{ result['ein'] }}
      {{ result['tax_prd'] }}


      <br>
    {% endfor %}
    {{ pagination.links }}

  {% endif %}

  {% if no_result %}
    Sorry, no results matching your query. Please try a different one.
  {% endif %}
  </div>

</div>
<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}