{% extends "base.html" %}

{% block content %}
<div id="home_p">

  <div class="row">
    <div class="col-md-10">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit, est vel rhoncus eleifend, tortor lectus congue massa, sit amet efficitur est tellus ut nibh. Nulla blandit congue neque. Donec vitae euismod urna.</p>
    </div>
    
  </div>

  <div class="row">
    <div class="col-md-6">
      <!-- search bar -->
      <form method="post">  <!-- action="reroute" -->
        <label for="">Search:</label>
        <input type="text" class="form-control" name="search"><br>
      <input type="submit" class="btn btn-default" value="Submit">
      </form>
    </div>
  </div>

  {% if results %}
    <div style="display:none" id="search_value">{{ search_value }}</div>
      {{ pagination.info }}
      {{ pagination.links }}

    {% for result in results %}
    <!-- TODO make template for displaying each result -->
      <br>
      <a href={{ url_for('ein_results', ein=result['ein']) }}>{{ result['name'] }}</a>
      {{ result['city'] }}
      {{ result['state'] }}
      {{ result['ein'] }}
      {{ result['tax_prd'] }}


      <br>
    {% endfor %}
    {{ pagination.links }}

  {% endif %}

  {% if no_result %}
    Sorry, no results matching your query. Please try a different one.
  {% endif %}

</div>

{% endblock %}